.about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 7rem 0 5rem 0;
}

.about-bg-container {
    background-color: var(--bg-color-darker);
}


.about p {
    color: var(--text-color-lighter);
    margin-top: 1rem;
    font-size: 1.2em;
    text-align: center;
}

.about h2 {
    position: relative;
    color: var(--text-color-darker);
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--main-color);
}


@media (max-width: 1100px) {
    .about h2 {
        margin: 0 1rem;
    }
    .about p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 800px) {
.about h2 {
        font-size: 2rem;
    }
}