.slick-slider {
    padding-bottom: 2rem;
}

.slick-dots {
    position: relative;
}

.slider-img {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}


@media(max-width: 700px) {
    .slick-slider {
        display: none;
    }
}