.contact {
    margin: 2rem 1rem 5rem 1rem;
}

.contact h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--text-color-darker);
}

.contactContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contactContainer p {
    margin-left: .5rem;
    text-align: center;
    color: var(--text-color-darker);
}

.contactContainer .icon {
    font-size: 1.2em;
    color: rgba(5, 5, 5, 0.856);
}