.contacts {
    margin: 1rem;
}

.links .linksContent {
    color: var(--text-color);
    text-align: center;
}

.links .linksContent h2{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
}

.links .linksContent p {
    font-weight: 500;
    margin-bottom: .5rem;
}

.socialMedias {
    display: flex;
    justify-content: space-around;
}

.socialMedias .icon {
    color: var(--text-color);
    font-size: 1rem;
}