/* .contact {
    padding: 2rem 1rem 1rem 1rem;
    background: #e0e0e0;
    box-shadow: 26px 26px 52px #cecece,
        -26px -26px 52px #f2f2f2;

    max-width: 500px;
    margin: 3rem auto;
}

.sectionContainer {
    
    margin-left: 15%;

}



.contactContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contactContainer p {
    margin-left: 1.5rem;
    text-align: center;
    color: var(--text-color-darker);
}

.contactContainer .icon {
    font-size: 1.2em;
    color: rgba(5, 5, 5, 0.856);
}


@media(min-width: 800px) {

    .contact h2 {
        font-size: 2rem;
    }

    .contactContainer {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

} */