footer {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-lighter);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.heading-and-navigation {
    margin: 2rem;
    margin-bottom: 3rem;

}

.heading-and-navigation .footer-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.heading-and-navigation .navContainer {
    text-align: center;
}

.heading-and-navigation .navItem {
    margin: 1rem 0;
}

.heading-and-navigation .navItem a {
    color: var(--bg-color-lighter);
    font-size: 1.2rem;
    font-weight: 300;
}

.heading-and-navigation .navItem a:hover {
    color: var(--text-color-lighter);
}

.contact {
    padding: 0rem 1rem 0rem 1rem;
    max-width: fit-content;
    margin: 3rem auto;
}

.contactContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contactContainer p {
    margin-left: 1.5rem;
    text-align: center;
    color: var(--text-color-lighter);
}

.contactContainer .icon {
    font-size: 1.2em;
    color: var(--text-color-lighter);
}

.text {
    margin: 0 1rem;
    text-align: center;
    color: var(--text-color-lighter);
}

.text p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.socials {
    text-align: center;
    margin-bottom: 2rem;
}

.socials p {
    color: var(--text-color-lighter);
    margin-bottom: 3rem;
}

.socials .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20%;
}

.socials .flex .icon {
    font-size: 1.5em;
    cursor: pointer;
    transition: .1s all linear;
}

.socials .flex .icon:hover,
.socials .flex .icon:active {
    color: var(--text-color-lighter);
}

.desktopp {
    display: none;
}


/* @media(min-width: 700px) {
    .sectionContainer {
        display: flex;
    }
} */


@media(min-width: 800px) {

    .contact {
        padding: 0 1rem 1rem 1rem;
    }

    .sectionContainer {
        display: flex;
        justify-content: space-between;
    }

    .contactContainer {
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .contactContainer p {
        margin-left: .5rem;
    }

    .heading-and-navigation .footer-heading {
        text-align: left;
    }

    .heading-and-navigation .navContainer {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }



    .socials {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .socials p {
        margin-bottom: 0;
        width: 100%;
        text-align: left;
        margin-left: 5%;
    }

    .socials .flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 5%;
        width: 30%;
    }

    .socials .flex .icon {
        font-size: 1.5em;
        cursor: pointer;
        transition: .3s all linear;
    }

    .socials .flex .icon:hover,
    .socials .flex .icon:active {
        color: var(--text-color-lighter);
    }


}


@media(min-width: 1000px) {


    .contact {
        max-width: none;
        margin-left: 2%;
        margin-bottom: 0;
    }

    .sectionContainer {
        display: block;
    }

    .contactContainer {
        margin-bottom: 1rem;
    }

    .socials-contact-flex {
        display: flex;
        justify-content: flex-end;
    }

    .heading-and-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .heading-and-navigation .footer-heading {
        margin-bottom: 0;
    }

    .heading-and-navigation .navContainer {
        width: 50%;
        margin-right: 5%;
    }


    .text {
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .socials {
        text-align: center;
        margin-bottom: 2rem;
    }

    .socials p {
        margin-bottom: 1rem;
        display: block;
        margin-left: 2rem;
    }

    .desktopp {
        display: block;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5% 0 0 0;
        padding: 0 20%;
        width: 80%;
    }

    .socials .mobilee {
        display: none;
    }


    .desktopp .icon {
        font-size: 1.8em;
        cursor: pointer;
        color: var(--bg-color-lighter);
        transition: .1s all linear;
    }

    .desktopp .icon:hover,
    .desktopp .icon:active {
        color: var(--text-color-lighter);
    }

    .socials {
        margin: 0;
        position: relative;
        right: 10rem;
    }


    .socials .copyright {
        font-size: 1.1rem;
        /* padding-left: 10rem; */
        position: relative;
        right: 1rem;
        bottom: 0%;
        margin-top: 7rem;
    }
}

@media(min-width: 1050px) {
    .socials .copyright {
        right: 2rem;
    }
}
@media(min-width: 1100px) {
    .socials .copyright {
        padding-left: 4rem;
        right: 3rem;
    }
}
@media(min-width: 1150px) {
    .socials .copyright {
        padding-left: 4rem;
        right: 4rem;
    }
}
@media(min-width: 1200px) {
    .socials .copyright {
        padding-left: 4rem;
        right: 4.7rem;
    }
}