.desktop .logo-container {
    width: 20%;
    text-align: center;
}

.desktop .logo-container #logo {
    width: 4rem;
}
.desktop .logo-container .logo {
    text-align: center;
}

.desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s all linear;
    z-index: 10000;
}

.desktop .width-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    max-width: 1400px;
    margin: 0 auto;

}


