
.heroImage {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    object-fit: cover;
    user-select: none;
}

.heroText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67%;
    text-align: center;
    color: var(--bg-color-lighter);
    font-size: 1.5rem;
}

.heroText .hero {
    font-weight: 700;
    /* font-family: 'Pacifico', cursive; */
}

.heroName {
    text-transform: uppercase;
}

@media(min-width: 900px) {
    .heroText .heroName {
            font-size: 3.2rem;
            margin-bottom: 1.5rem;
        }

    .heroText .heroSlogan {
            font-size: 2rem;
        }
}