.image-container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/Рыба\ фаршированая\ 2.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}

.heroText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
  text-align: center;
  color: var(--bg-color-lighter);
  font-size: 1.5rem;
}

.heroText .hero {
  font-weight: 700;
  /* font-family: 'Pacifico', cursive; */
}

.heroName {
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .heroText .heroName {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }

  .heroText .heroSlogan {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .image-container {
    background-image: url(../assets/images/mobile_bg.jpg);
    background-position: 50%;
    /* background-size: contain; */
  }
}
