.menuHeading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    color: var(--text-color);
    font-weight: 700;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all 0.5s ease;
}
































/* .productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.productContainer .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.productContainer .box img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: .5rem;
}

.productContainer h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: .5rem 0 .5rem;
}

.productContainer .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productContainer .content .span1 {
    padding: .2rem 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}

.productContainer .content .span2 {
    padding: 0 1rem;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    text-transform: uppercase;
} */