.menu {
    margin-bottom: 25rem;
}




.menuHeading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    color: var(--text-color-darker);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}




.menuSection {
    position: relative;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--bg-color-darker);
    padding: .5rem 0;
    margin-bottom: .5rem;
    color: var(--text-color-darker);
}

.menuSection::before,
.menuSection::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.menuSection::before {
    left: 50%;
    border-bottom: 3px solid var(--main-color);
}


.menuSection::after {
    right: 50%;
    border-bottom: 3px solid var(--main-color);
}

.menuSection:hover::before,
.menuSection:hover::after {
    width: 50%;
}

.imageContainer {
    margin: 5%;
    box-shadow: var(--box-shadow);
    position: relative;
    padding-bottom: 1rem;
}

.imageContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
}

.imageContainer:hover::after {
    width: 50%;
}

.imageContainer .meal-image {
    width: 100%;
    padding: .5rem;
    object-fit: cover;
    user-select: none;
    margin-bottom: .5rem;
}

.short-info {
    align-items: center;
    text-align: center;
}

.short-info h2 {
    font-size: 1.5rem;
    color: var(--text-color-darker);
    font-weight: 600;
    margin-bottom: .5rem;
}

.short-info span {
    font-weight: 400;
    color: var(--text-color-darker);
}

.menuItem .imageContainer {
    cursor: pointer;
}

.menuItem .imageContainer:active {
    background-color: var(--bg-color-darker);
}


.long-info {
    margin: 0 1rem 1rem 1rem;
}

.long-info h2 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color-darker);
    font-weight: 600;
    margin-bottom: 1rem;
}

.long-info p {
    font-weight: 400;
    color: var(--text-color-darker);
    margin-bottom: .5rem;
}

.short-info,
.long-info {
    transition: max-height .7s ease-out, opacity .7s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.menuItem .imageContainer .short-info.show,
.menuItem .imageContainer .long-info.show {
    max-height: 500px;
    opacity: 1;
}