.menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-bg-container {
  background-color: var(--bg-color-darker);
}

.menuHeading {
  text-align: center;
  text-transform: uppercase;
  padding-top: 7rem;
  color: var(--text-color-darker);
  font-size: 2.3rem;
  font-weight: 700;
}

.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 3.3rem 1rem;
  max-width: 1000px;
  width: 90vw;
  margin: 0 auto;
}

.sectionHeading h2 {
  font-size: 2rem;
  color: var(--text-color-lighter);
}
.sectionHeading .open-menu-btn {
  font-size: 1.2rem;
  color: var(--text-color-darker);
  cursor: pointer;
  background: none;
}

.menu-photo {   
   width: 100%;
}

.menu-photo-last {
  margin-bottom: 5rem;
}

.sectionHeading .open-menu-btn:hover {
  color: var(--main-color);
}

.menuSectionContainer {
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menuSection {
  position: relative;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--bg-color-lighter);

  padding: 1rem 0;
  margin-bottom: 1.5rem;
  color: var(--text-color-darker);
  box-shadow: -9px 9px 18px #d0d0d0, 9px -9px 18px #f0f0f0;
}

.menuSection::before,
.menuSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.menuSection::before {
  left: 50%;
  border-bottom: 3px solid var(--main-color);
}

.menuSection::after {
  right: 50%;
  border-bottom: 3px solid var(--main-color);
}

.menuSection:hover::before,
.menuSection:hover::after {
  width: 50%;
}

.iconContainer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.iconContainerDeskTop {
  width: 100%;
  text-align: center;
  padding: 1rem 0 0 0;
  margin-bottom: 1rem;
}

.iconContainerDeskTop .icon {
  font-size: 2em;
  cursor: pointer;
  color: var(--text-color-darker);
}

.iconContainerDeskTop .icon:hover {
  color: var(--text-color-lighter);
}

.iconContainer .icon {
  font-size: 2em;
  cursor: pointer;
  color: var(--text-color-darker);
}

.iconContainer .icon:hover {
  color: var(--text-color-lighter);
}

.imageContainer {
  margin: 5%;
  box-shadow: -9px 9px 18px #d0d0d0, 9px -9px 18px #f0f0f0;
  position: relative;
  padding-bottom: 1rem;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
}

.imageContainer:hover::after {
  width: 50%;
}

.imageContainer .meal-image {
  width: 100%;
  padding: 0.5rem;
  object-fit: cover;
  user-select: none;
  margin-bottom: 0.5rem;
}

.short-info {
  align-items: center;
  text-align: center;
}

.short-info h2 {
  font-size: 1.5rem;
  color: var(--text-color-darker);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.short-info span {
  font-weight: 400;
  color: var(--text-color-darker);
}

.menuItem {
  max-width: 375px;
  margin: 0 auto;
}

.menuItem .imageContainer {
  cursor: pointer;
}

.menuItem .imageContainer:active {
  background-color: var(--bg-color-darker);
}

.long-info {
  margin: 0 1rem 1rem 1rem;
}

.long-info h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color-darker);
  font-weight: 600;
  margin-bottom: 1rem;
}

.long-info p {
  font-weight: 400;
  color: var(--text-color-darker);
  margin-bottom: 0.5rem;
}

.short-info,
.long-info {
  transition: max-height 0.7s ease-out, opacity 0.7s ease-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.menuItem .imageContainer .short-info.show,
.menuItem .imageContainer .long-info.show {
  max-height: 500px;
  opacity: 1;
}

/*? DRINKS */

.lowerHeading {
  padding: 6rem 0 3.3rem 1rem;
  max-width: 1000px;
  width: 90vw;
  margin: 0 auto;
  font-size: 2.5rem;
  color: var(--text-color-lighter);
}

.reserv-number {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  max-width: 1200px;
  margin: 2rem auto 7rem auto;
  width: 100%;
  color: var(--text-color-lighter);
}

.reserv-number p {
  margin-right: 1rem;
}

#plus-icon {
  margin-left: 1rem;
  color: var(--text-color-darker);
  font-size: 1.3rem;
  cursor: pointer;
}

.list li{
  margin: 0 0 2rem 3rem;
}

.drinks-peredzam {
  padding-left: 1rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  
}

.drinks-peredzam li {
  list-style: inside;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color-darker);
}

.meels-container {
  margin-bottom: 5rem;
}

@media (min-width: 600px) {
  .iconContainer {
    display: none;
  }
  .sectionHeading {
    font-size: 2.3rem;
  }
  .menuHeading {
    font-size: 3rem;
  }
  .drinks-peredzam li {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .open-menu-btn {
    display: none;
  }
  .menu-photo {
    display: none;
  }
}

@media (max-width: 700px) {
  .reserv-number {
    flex-direction: column;
    font-size: 1.4rem;
  }

  .reserv-number p {
    margin-bottom: 1rem;
  }

}

@media (min-width: 800px) {
  .menuSection {
    position: relative;
  }

  .menu-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .menuHeading {
    font-size: 2.7rem;
  }

  .drinks-peredzam li {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .menuSection {
    width: 90%;
  }
}
