.navigation {
    position: fixed;
    top: 4.034rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s all linear;
}

.navigation .navContainer {
    margin-bottom: .3rem;
    display: flex;
    justify-content: space-around;
}

.navigation .navContainer .navItem {
    margin: .7rem 0;
}

.navigation .navContainer .navItem a{
    transition: .3s all linear;
    font-weight: 500;
    font-size: 1.2rem;
}

.visible {
    height: auto;
}